* {
	margin: 0;
	padding: 0;
}

#container {
    position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    overflow: hidden;
}

#overlay {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 20;
}

#canvas {
    position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    z-index: 10;
    overflow: hidden;
}

